h1 {
  font-size: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
}
.text {
  font-size: 15px;
  text-align: justify;
  position: relative;
  left: 12px;
  top: 47px;
}
.box {
  height: 300px;
  width: 400px;
  background-color: darkred;
  position: fixed;
  top:180px;
  left: 20px;
}
