body {
  position: relative;
  background-image: url(/backGround/gameBackground.png);
  background-size: cover;
  margin: 0;
}
body .infoTables {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body .infoTables .score {
  display: inline-block;
  width: 130px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.795);
  border-bottom-right-radius: 20px;
  text-transform: capitalize;
  text-align: center;
}
body .infoTables .score .playerScore {
  display: block;
  margin: 0;
  margin-bottom: 5px;
}
body .infoTables .score .bestScore {
  display: block;
  margin: 0;
}
body .infoTables .timingWrapper {
  display: inline-block;
  width: calc(100% - 210px);
}
body .infoTables .timingBar {
  display: block;
  width: 50%;
  max-width: 900px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.795);
  margin: auto;
  border: 5px solid darkgray;
  border-radius: 15px;
}
body .infoTables .timingBar .hoverOfTimeBar {
  display: inline-block;
  width: 900px;
  height: 10px;
  background-color: red;
  border-radius: 15px;
  transition: width 8s;
  margin-bottom: 4px;
}
body .infoTables .timingBar .hoverOfTimeBar:hover {
  position: static;
  width: 50px;
  height: 10px;
}
body .infoTables .boxOfReloadButton {
  display: inline-block;
  width: 70px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.795);
  border-bottom-left-radius: 20px;
}
body .infoTables .boxOfReloadButton .reloadButton {
  display: inline-block;
  width: 35px;
  margin: 0;
  margin-left: 25%;
  margin-top: 3px;
}
body .bluredContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px ;
  width: 1190px;
  height: 840px;
  border: 9px solid rgba(255, 255, 255, 0.445);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.445);
}
body .bluredContainer span {
  width: 250px;
}
body .bluredContainer span .cards {
  position: relative;
  width: 165px;
  margin: 4px;
  padding: 9px;
  border: 2px solid transparent;
  border-radius: 20px;
}
