body {
  position: relative;
  background-image: url(/backGround/gameBackground.png);
  background-size: cover;
  margin: 0;
}
body .welcomeHeadlineBox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22%;
  width: 700px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.671);
  border: 5px solid white;
  border-radius: 40px;
}
body .welcomeHeadlineBox .HeadlineText {
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkorange;
  margin: 0;
  padding: 30px;
}
body .welcomeHeadlineBox .HeadlineText .linkText {
  text-decoration: none;
  color: black;
}
