span {
  display: inline-block;
}
.main {
  display: inline-block;
  position: static;
  margin: 7% 0 0 35%;
}
.leftHand {
  display: inline-block;
  width: 30px;
  height: 180px;
  background-color: #ffae00;
  margin: 0 0 200px 0;
  transform: rotateZ(140deg);
}
.righttHand {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 180px;
  background-color: #ffae00;
  margin: 0 0 200px 0%;
  transform: rotateZ(40deg);
}
div.bodyShapeTop {
  display: inline-block;
  width: 400px;
  height: 580px;
  background-color: #ffae00;
  margin: 10% 0 0 0;
  border-radius: 20%;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  z-index: 1;
}
div.bodyShapeTop .eye1 {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border: 20px solid #615d5d;
  border-radius: 50%;
  margin: 25% 0 0 8%;
}
div.bodyShapeTop .eye1 .leftEye1 {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: darkblue;
  border-radius: 50%;
  margin: 15% 0 0 22%;
}
div.bodyShapeTop .eye1 .leftEye1 .leftEye2 {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 0 0 40%;
}
div.bodyShapeTop .eye2 {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border: 20px solid #615d5d;
  border-radius: 50%;
  margin: 0 0 0 4%;
}
div.bodyShapeTop .eye2 .rightEye1 {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: darkblue;
  border-radius: 50%;
  margin: 15% 0 0 22%;
}
div.bodyShapeTop .eye2 .rightEye1 .rightEye2 {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 0 0 40%;
}
div.bodyShapeTop .mouth {
  display: inline-block;
  position: relative;
  width: 35%;
  height: 10%;
  border-bottom: 25px solid black;
  margin: 0 0 0 calc(50% - 17%);
  border-radius: 50%;
  transform: rotateX(40deg);
}
div.bodyShapeTop .bodyShapeBottom0 {
  display: flex;
  position: relative;
  width: 230px;
  height: 60px;
  background-color: #007ff5;
  margin: 4% 0 0 20.6%;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
div.bodyShapeTop .bodyShapeBottom0 .leftSleevLink {
  width: 12px;
  height: 12px;
  background-color: #1b1b1b;
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 22px 0 0 5px;
  z-index: 1;
}
div.bodyShapeTop .bodyShapeBottom0 .rightSleevLink {
  width: 12px;
  height: 12px;
  background-color: #1b1b1b;
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 22px 0 0 188px;
  z-index: 1;
}
div.bodyShapeTop .bodyShapeBottom1 {
  position: relative;
  display: inline-block;
  width: 380px;
  height: 180px;
  background-color: #009bf5;
  border-left: 10px solid #009bf5;
  border-right: 10px solid #009bf5;
  border-end-start-radius: 50%;
  border-bottom-right-radius: 50%;
}
div.bodyShapeTop .bodyShapeBottom1 .leftPocket {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: #007ff5;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-bottom-right-radius: 60%;
  margin: 0;
}
div.bodyShapeTop .bodyShapeBottom1 .rightPocket {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: #007ff5;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  margin: 0 0 0 50.5%;
  border-bottom-left-radius: 60%;
}
div.bodyShapeTop .bodyShapeBottom2 {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 87px;
  background-color: #009bf5;
  border-left: 10px solid #009bf5;
  border-right: 10px solid #009bf5;
  margin: 0 0 0 8%;
  border-end-start-radius: 50%;
  border-bottom-right-radius: 50%;
}
div.bodyShapeTop .bodyShapeBottom2 .leftFoot {
  display: inline-block;
  position: relative;
  width: 55px;
  height: 130px;
  background-color: #007ff5;
  border-radius: 30%;
  transform: rotateZ(1deg);
  margin: 17% 38% 0 11%;
  z-index: -1;
}
div.bodyShapeTop .bodyShapeBottom2 .rightFoot {
  display: inline-block;
  position: relative;
  width: 55px;
  height: 130px;
  background-color: #007ff5;
  border-radius: 30%;
  transform: rotateZ(1deg);
  margin: 0% 0 0 0;
  z-index: -2;
}
div.bodyShapeTop .bodyShapeBottom2 .leftBoot {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 45px;
  background-color: #1b1b1b;
  border: 2px solid transparent;
  border-top-left-radius: 80%;
  top: 85%;
  right: 90%;
}
div.bodyShapeTop .bodyShapeBottom2 .rightBoot {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 45px;
  background-color: #1b1b1b;
  border: 2px solid transparent;
  border-top-right-radius: 80%;
  top: 85%;
  left: 1%;
}
.suspender {
  position: relative;
  height: 150px;
  width: 80px;
  background: #005eb6;
  top: -80px;
  transform: rotate(45deg);
  z-index: 2;
}
.suspender2 {
  left: -260px;
  transform: rotate(-45deg);
}
