body{
    background-color: darkslategray;
}
h1{
    color:orangered
}
.keyWord{
    color: gold;
    font-style: italic;
}
#articleMainKeyWord{
    font-size: 30px;
    color: gold;
}
p{
    color: white;
    text-align: justify;
    
}
#kaplerTelescope{
    width: 350px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}