@border Color: darker(());
body {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body iframe {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;
}
body .main {
  display: block;
  line-height: 20px;
  position: fixed;
  background-color: #2980b9;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
body img {
  width: 50px;
  border: 3px solid #414040;
  border-radius: 50%;
  margin: 8px 0 0 1%;
}
body .firstRowfirstLb {
  margin: 0 0 0 27%;
}
body .firstRowsecondLb {
  margin: 0 0 0 15%;
}
body .firstRowthirdLb {
  margin: 0 0 0 15%;
}
body a {
  color: #000000;
}
