body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-color: #34495e;
}
body iframe {
  position: absolute;
  width: 100%;
  top: 0%;
  right: 0%;
  left: 0%;
}
body .mainBorder {
  background-color: #ffff;
  position: relative;
  width: 70%;
  margin: 3% 0 0 15%;
  padding: 0 2% 0 2%;
}
body .mainBorder h1 {
  font-size: 20px;
  margin: 30px 0 0 20px;
}
body .mainBorder .breadCrumb {
  display: inline-block;
  position: relative;
  margin: 1% 0 0 1.1%;
}
body .mainBorder .mainText {
  position: relative;
  display: inline-block;
  font-size: 14px;
  text-align: justify;
  width: 50%;
  margin: 0 20px;
}
body .mainBorder .imageMap {
  position: relative;
  display: inline-block;
}
body .mainBorder .imageMap img {
  width: 600px;
  display: inline-block;
}
body .mainBorder .navList {
  font-size: 14px;
  padding: 20px 0;
}
