.box {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
}
.box.first {
  background: red;
}
.box.second {
  background: green;
}
.box.third {
  background: orange;
}
.box.fourth {
  background: blue;
}
